In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import pickle
from sklearn.linear_model import LinearRegression,LogisticRegression

In [2]:
df = pd.read_csv('credit_train.csv')
df = df[:100000]
df = df.drop_duplicates()
df = df.reset_index()
df = df.drop('index',axis=1)
df

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89780,8506a4e9-af7d-47d2-a1bf-7ea2c41858f0,be67200e-1ef1-4b63-86a6-2bf27d3c704d,Fully Paid,210584.0,Short Term,719.0,783389.0,1 year,Home Mortgage,Other,3727.61,17.4,18.0,6.0,0.0,456.0,259160.0,0.0,0.0
89781,06eba04f-58fc-424a-b666-ed72aa008900,77f2252a-b7d1-4b07-a746-1202a8304290,Fully Paid,99999999.0,Short Term,732.0,1289416.0,1 year,Rent,Debt Consolidation,13109.05,9.4,21.0,22.0,0.0,153045.0,509234.0,0.0,0.0
89782,e1cb4050-eff5-4bdb-a1b0-aabd3f7eaac7,2ced5f10-bd60-4a11-9134-cadce4e7b0a3,Fully Paid,103136.0,Short Term,742.0,1150545.0,6 years,Rent,Debt Consolidation,7315.57,18.8,18.0,12.0,1.0,109554.0,537548.0,1.0,0.0
89783,81ab928b-d1a5-4523-9a3c-271ebb01b4fb,3e45ffda-99fd-4cfc-b8b8-446f4a505f36,Fully Paid,530332.0,Short Term,746.0,1717524.0,9 years,Rent,Debt Consolidation,9890.07,15.0,NaN,8.0,0.0,404225.0,738254.0,0.0,0.0
89784,c63916c6-6d46-47a9-949a-51d09af4414f,1b3014be-5c07-4d41-abe7-44573c375886,Fully Paid,99999999.0,Short Term,743.0,935180.0,NaN,Own Home,Debt Consolidation,9118.10,13.0,NaN,4.0,1.0,45600.0,91014.0,1.0,0.0

In [3]:
df2 = df.copy()
df2 = df2.drop(['Loan ID','Customer ID'],axis = 1)
df2

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89780,Fully Paid,210584.0,Short Term,719.0,783389.0,1 year,Home Mortgage,Other,3727.61,17.4,18.0,6.0,0.0,456.0,259160.0,0.0,0.0
89781,Fully Paid,99999999.0,Short Term,732.0,1289416.0,1 year,Rent,Debt Consolidation,13109.05,9.4,21.0,22.0,0.0,153045.0,509234.0,0.0,0.0
89782,Fully Paid,103136.0,Short Term,742.0,1150545.0,6 years,Rent,Debt Consolidation,7315.57,18.8,18.0,12.0,1.0,109554.0,537548.0,1.0,0.0
89783,Fully Paid,530332.0,Short Term,746.0,1717524.0,9 years,Rent,Debt Consolidation,9890.07,15.0,NaN,8.0,0.0,404225.0,738254.0,0.0,0.0
89784,Fully Paid,99999999.0,Short Term,743.0,935180.0,NaN,Own Home,Debt Consolidation,9118.10,13.0,NaN,4.0,1.0,45600.0,91014.0,1.0,0.0

In [4]:
x = df2['Number of Credit Problems'].isnull()
for i in x:
    if i:
        print("Has Nulls")

In [5]:
z = list(df['Years in current job'])


i = 0
# to remove signs
while i in range(0,89785):
    if z[i] is np.nan:
        pass
    else:
        for j in z[i]:
            if j == '+':
                z[i] = z[i].replace('+','')
            if j == '<': 
                z[i] = z[i].replace('<','')
            if j == ">":
                z[i] = z[i].replace('>','')
    i+=1
    

# to get only numbers
xz = []
for i in z:
    if i is np.nan:
        xz.append(np.nan)
    else:
        x = [int(s) for s in i.split() if s.isdigit()]
        xz.append(x[0])
xz

yearsx = np.array(xz)
years = pd.DataFrame(yearsx)
years.columns = ['Years']
years

df3 = pd.concat([df2,years],axis=1)
df3 = df3.drop(['Years in current job'],axis=1)
df3

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,Years
0,Fully Paid,445412.0,Short Term,709.0,1167493.0,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0,8.0
1,Fully Paid,262328.0,Short Term,NaN,NaN,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0,10.0
2,Fully Paid,99999999.0,Short Term,741.0,2231892.0,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0,8.0
3,Fully Paid,347666.0,Long Term,721.0,806949.0,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0,3.0
4,Fully Paid,176220.0,Short Term,NaN,NaN,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89780,Fully Paid,210584.0,Short Term,719.0,783389.0,Home Mortgage,Other,3727.61,17.4,18.0,6.0,0.0,456.0,259160.0,0.0,0.0,1.0
89781,Fully Paid,99999999.0,Short Term,732.0,1289416.0,Rent,Debt Consolidation,13109.05,9.4,21.0,22.0,0.0,153045.0,509234.0,0.0,0.0,1.0
89782,Fully Paid,103136.0,Short Term,742.0,1150545.0,Rent,Debt Consolidation,7315.57,18.8,18.0,12.0,1.0,109554.0,537548.0,1.0,0.0,6.0
89783,Fully Paid,530332.0,Short Term,746.0,1717524.0,Rent,Debt Consolidation,9890.07,15.0,NaN,8.0,0.0,404225.0,738254.0,0.0,0.0,9.0
89784,Fully Paid,99999999.0,Short Term,743.0,935180.0,Own Home,Debt Consolidation,9118.10,13.0,NaN,4.0,1.0,45600.0,91014.0,1.0,0.0,NaN

In [6]:
# fill nulls
credit_median = df3['Credit Score'].median()
income_median = df3['Annual Income'].median()
month_median = df3['Months since last delinquent'].median()
max_credit_median = df3['Maximum Open Credit'].median()
bankruptcies = 0
tax = 0
years_median = df3['Years'].median()

fill_nulls = {
    'Credit Score':credit_median,
    'Annual Income':income_median,
    'Months since last delinquent':month_median,
    'Maximum Open Credit':max_credit_median,
    'Bankruptcies':bankruptcies,
    'Tax Liens':tax,
    'Years':years_median
}

df3.fillna(value = fill_nulls,inplace=True)
df3

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,Years
0,Fully Paid,445412.0,Short Term,709.0,1167493.0,Home Mortgage,Home Improvements,5214.74,17.2,32.0,6.0,1.0,228190.0,416746.0,1.0,0.0,8.0
1,Fully Paid,262328.0,Short Term,729.0,1168975.0,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0,10.0
2,Fully Paid,99999999.0,Short Term,741.0,2231892.0,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0,8.0
3,Fully Paid,347666.0,Long Term,721.0,806949.0,Own Home,Debt Consolidation,8741.90,12.0,32.0,9.0,0.0,256329.0,386958.0,0.0,0.0,3.0
4,Fully Paid,176220.0,Short Term,729.0,1168975.0,Rent,Debt Consolidation,20639.70,6.1,32.0,15.0,0.0,253460.0,427174.0,0.0,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89780,Fully Paid,210584.0,Short Term,719.0,783389.0,Home Mortgage,Other,3727.61,17.4,18.0,6.0,0.0,456.0,259160.0,0.0,0.0,1.0
89781,Fully Paid,99999999.0,Short Term,732.0,1289416.0,Rent,Debt Consolidation,13109.05,9.4,21.0,22.0,0.0,153045.0,509234.0,0.0,0.0,1.0
89782,Fully Paid,103136.0,Short Term,742.0,1150545.0,Rent,Debt Consolidation,7315.57,18.8,18.0,12.0,1.0,109554.0,537548.0,1.0,0.0,6.0
89783,Fully Paid,530332.0,Short Term,746.0,1717524.0,Rent,Debt Consolidation,9890.07,15.0,32.0,8.0,0.0,404225.0,738254.0,0.0,0.0,9.0
89784,Fully Paid,99999999.0,Short Term,743.0,935180.0,Own Home,Debt Consolidation,9118.10,13.0,32.0,4.0,1.0,45600.0,91014.0,1.0,0.0,6.0

In [29]:
df4 = pd.get_dummies(df3['Loan Status'], drop_first=True) # for loan status
df5 = pd.get_dummies(df3['Term'], drop_first=True) # for term
df6 = pd.get_dummies(df3['Home Ownership'], drop_first=True) # for Home Ownership
df7 = pd.get_dummies(df3['Purpose'], drop_first=True) # for Purpose

newdf = df3.drop(['Loan Status','Term','Home Ownership','Purpose'],axis = 1)
newdf = newdf.drop(['Bankruptcies','Tax Liens','Maximum Open Credit','Current Credit Balance','Number of Credit Problems','Number of Open Accounts','Months since last delinquent','Years of Credit History','Monthly Debt','Credit Score'],axis = 1)
newdf2 = pd.concat([newdf,df4],axis = 1)
newdf2

       Current Loan Amount  Annual Income  Years  Fully Paid
0                 445412.0      1167493.0    8.0           1
1                 262328.0      1168975.0   10.0           1
2               99999999.0      2231892.0    8.0           1
3                 347666.0       806949.0    3.0           1
4                 176220.0      1168975.0    5.0           1
...                    ...            ...    ...         ...
89780             210584.0       783389.0    1.0           1
89781           99999999.0      1289416.0    1.0           1
89782             103136.0      1150545.0    6.0           1
89783             530332.0      1717524.0    9.0           1
89784           99999999.0       935180.0    6.0           1

[89785 rows x 4 columns]

In [30]:
newdf2.columns

Index(['Current Loan Amount', 'Annual Income', 'Years', 'Fully Paid'], dtype='object')

In [31]:
newdf2 = newdf2[newdf2['Fully Paid'] != 0]
newdf2['Fully Paid'].unique()
newdf2 = newdf2.reset_index()
newdf2 = newdf2.drop('index',axis=1)
newdf2

       Current Loan Amount  Annual Income  Years  Fully Paid
0                 445412.0      1167493.0    8.0           1
1                 262328.0      1168975.0   10.0           1
2               99999999.0      2231892.0    8.0           1
3                 347666.0       806949.0    3.0           1
4                 176220.0      1168975.0    5.0           1
...                    ...            ...    ...         ...
67141             210584.0       783389.0    1.0           1
67142           99999999.0      1289416.0    1.0           1
67143             103136.0      1150545.0    6.0           1
67144             530332.0      1717524.0    9.0           1
67145           99999999.0       935180.0    6.0           1

[67146 rows x 4 columns]

In [33]:
# # this model is to predict amount of loan which we can get

X = newdf2.drop(['Current Loan Amount','Fully Paid'],axis=1)
Y = newdf2['Current Loan Amount']

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.001, random_state = 42)

In [34]:
# model = LinearRegression()
# model.fit(X_train,y_train)
# model.score(X_test,y_test)

In [35]:
reverse_model = RandomForestClassifier(max_depth = 10,n_estimators = 25,n_jobs = -1)
reverse_model.fit(X_train,y_train)
reverse_model.score(X_test,y_test)

array([99999999., 99999999.,   179806.,   343244., 99999999., 99999999.,
       99999999., 99999999., 99999999., 99999999., 99999999., 99999999.,
       99999999., 99999999., 99999999., 99999999., 99999999., 99999999.,
       99999999.,   257488., 99999999., 99999999., 99999999., 99999999.,
       99999999., 99999999.,   111914., 99999999., 99999999., 99999999.,
       99999999., 99999999.,   435820., 99999999., 99999999.,   268532.,
         257444., 99999999., 99999999., 99999999.,   111914., 99999999.,
       99999999., 99999999.,   268532.,   268532., 99999999., 99999999.,
         268532., 99999999., 99999999., 99999999., 99999999., 99999999.,
         108152.,   257444., 99999999., 99999999.,   268532., 99999999.,
       99999999., 99999999.,   268532.,   257488., 99999999., 99999999.,
       99999999., 99999999.])

In [18]:
X_test

,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Current Credit Balance,Years,Short Term,Home Mortgage,Own Home,Rent,...,Medical Bills,Other,Take a Trip,major_purchase,moving,other,renewable_energy,small_business,vacation,wedding
936,737.0,753084.0,14873.39,17.1,378670.0,9.0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9634,744.0,664012.0,6805.99,9.9,68799.0,3.0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
33510,729.0,1168975.0,3131.20,9.6,80845.0,3.0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
39651,729.0,1168975.0,26709.25,25.5,202407.0,7.0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
43441,731.0,626392.0,1362.49,14.9,55043.0,2.0,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22750,729.0,1168975.0,5454.71,10.1,194294.0,5.0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
58436,747.0,1136466.0,9944.03,26.7,291745.0,10.0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
61821,725.0,2083426.0,36112.73,14.4,370234.0,10.0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
27422,730.0,2503345.0,28579.99,32.3,40717.0,6.0,1,1,0,0,...,0,0,0,1,0,0,0,0,0,0
25109,720.0,1597444.0,25159.80,25.4,70756.0,10.0,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0

In [20]:
# model_logistic = LogisticRegression()
# model_logistic.fit(X_train,y_train)
# model_logistic.score(X_test,y_test)

In [9]:
# pickle.dump(model, open('model_random_forest', 'wb'))

In [10]:
# x = pickle.load(open('model_random_forest','rb'))
# x